<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Содержимое поста</title>
    <link rel="stylesheet" th:href="@{/css/posts.css}"/>
</head>
<body>
<div class="shadow post">
    <h2 th:text="${post.getTitle()}"></h2>
    <span th:text="${post.getContent()}"></span>
    <br/>
    <img height="300" width="300" th:src="'data:image/png;base64, '+${post.getPictureBase64()}"></img>
    <br/>
    <div class="post shadow horizontal_block">
        <span  th:text="'Количество комментариев:' + ${post.getCommentsCount()}" ></span>
    </div>
    <div class="post shadow horizontal_block">
        <span  th:text="'Количество лайков:' + ${post.getLikesCount()}" ></span>
    </div>
    <div class="post shadow horizontal_block">
        <span  th:text="'Тэги: ' + ${post.getTagsString()}" ></span>
    </div>
    <div class="post shadow horizontal_block">
        <form th:method="POST" th:action="@{/likes}">
            <input name="post" type="hidden" th:value="${post.getId()}">
            <button type="submit" >Лайкнуть</button>
        </form>
    </div>
    <div class="post shadow horizontal_block">
        <form th:method="DELETE"  th:action="@{/posts/{id}(id=${post.getId()})}">
            <button type="submit" >Удалить пост</button>
        </form>
    </div>

    <br/>
</div>
<div class="shadow post">
    Комментарии:
    <div class="post shadow">
        <form th:method="POST" th:action="@{/comments}">
            <input name="post" type="hidden" th:value="${post.getId()}">
            <textarea name="text"></textarea>
            <button type="submit" >Добавить комментарий</button>
        </form>
    </div>
    <div th:each="comment: ${post.getComments()}" class="shadow post" >
        <span th:text="${comment.getText()}"></span>
    </div>
</div>
</body>
</html>